/* background */
body {
    background-image: url("background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

/* Update pages */
.update-header-container {
    width: 100%;
    height: 10vh;
}

.update-header {
    position: fixed;
    font-size: 40px;

    /* To be able to center the header */
    left: 50%;
    transform: translateX(-50%);
}

.update-list-container {
    padding-left: 30px;
    overflow: auto;
    height: 85vh;
}

.list-item {
    padding-bottom: 5px;
}

.update-link {
    font-size: 20px;

}
.update-link:hover {
    font-weight: bold;
}
.update-link:link {
    text-decoration: none;
    color: black;
}
.update-link:visited {
    color: black;
}

.left_menu {
    width: 250px;
    height: 500px;
    overflow: scroll;
    position: absolute;
}
.vehicle_list{
    position: absolute;
    width:1000px;
    height: 500px;
    left: 300px;
    overflow: scroll;
}

a:link {
    text-decoration: none;
    color: #0000e6;
}
a:visited {
    color: #0000e6;
}
a:hover {
    font-weight: bold;
}
table{
    text-align: left;
}

/* Statistic page styles */
.statistic-table, .statistic-table th, .statistic-table td {
    border: 1px solid black;
}

.statistic-table {
    width: 90%;
    margin-bottom: 50px;
}

.statistic-table th, .statistic-table td {
    width: 50%;
    padding: 5px 5px 5px 5px;
}

/* Homepage styles */
.home-page-table, .home-page-table th, .home-page-table td {
    border: 1px solid black;
}

.home-page-table {
    width: 90%;
    margin-bottom: 50px;
    table-layout: fixed;
}

.home-page-table th, .home-page-table td {
    padding: 5px 5px 5px 5px;
}

.home-page-table th {
    text-align: center;
}