/* background */
body {
    background-image: url("background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.logout-link:hover {
    color: #ff6600;
}


/* Update pages */
.update-header-container {
    width: 100%;
    height: 10vh;
}

.update-header {
    position: fixed;
    font-size: 40px;

    /* To be able to center the header */
    left: 50%;
    transform: translateX(-50%);
}

.update-list-container {
    margin-top: 30px;
    padding-left: 30px;
    overflow: auto;
    height: 71%;
}

.list-item {
    padding-bottom: 5px;
    border: double black;
    margin: 0 auto;
}

.list-item-info {
    width: 40vh;
}

.create-form-container {
    overflow: auto;
    height: 80%;
}

.update-link {
    font-size: 20px;

}
.update-link:hover {
    font-weight: bold;
}
.update-link:link {
    text-decoration: none;
    color: black;
}
.update-link:visited {
    color: black;
}

.left_menu {
    position: absolute;
    overflow: auto;

    width: 20%;
    height: 88%;

    border-right: double black;
}

.vehicle_list{
    position: absolute;
    overflow: auto;
    width: 76%;
    height: 88%;
    left: 22%;
}

.vehicle_list a {
    position: absolute;
    padding-top: 2%;
}

a:link {
    text-decoration: none;
    color: #0000e6;
}
a:visited {
    color: #0000e6;
}
a:hover {
    font-weight: bold;
}
table{
    text-align: left;
    table-layout: fixed;
}
th{
    padding: 10px 7.5px;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}
td{
    padding: 7px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
}

/* Statistic page styles */
.statistic-table, .statistic-table th, .statistic-table td {
    border: 1px solid black;
}

.statistic-table {
    width: 90%;
    margin-bottom: 50px;
}

.statistic-table th, .statistic-table td {
    width: 50%;
    padding: 5px 5px 5px 5px;
}

/* NAVIGATION BAR STYLES */
.navbar {
    overflow: hidden;
    background-color: #3a393b;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn1, .dropbtn2 {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn1, .dropbtn2 {
    background-color: #3a393b;
    font-weight: normal;
}

.navbar a.active {
    background-color: #ff6600;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#circle-green {
    width: 17px;
    height: 17px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: #4CAF50;
}

#circle-red {
    width: 17px;
    height: 17px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: red;
}

input,select,.register-button {
    width: 214px;
    height: 25px;
}

/* Side Navigation styles */
.sidenav{
    position: fixed;
    background: #3a393b;
    width: 230px;
    height: 100%;
}

.sidenav ul li{
    list-style: none;
}

.sidenav ul{
    margin: 0;
    padding: 0;
}

.sidenav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    border-bottom:1px solid #282828;
}

.sidenav ul li ul {
    display:none;
}

.sidenav ul li:hover ul {
    display:block;
    position:absolute;
    margin:-40px 0 0 230px;
}

.sidenav ul li ul li a {
    padding:10px;
    font-size:15px;
    background-color: #3a393b;
    border-bottom:1px solid #222;
    transition:all .3s ease-in-out;
    width:170px;
}
.sidenav ul li a:hover {
    background-color: #ff6600;
    transition:all .3s ease-in-out;
}

/* user log style */
.user-log-container{
    border: double #ff6600;
    width: 40%;
    height: 70%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 30px;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 60px solid #ff6600;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
}

.vehicle_prices {
    transform: rotate(-46deg);
    transform-origin: 40% top -20px;
}

.home-page-vehicle-container{
    overflow: auto;
}


/* Vehicle-Detail page styles */
.vehicle-detail-container {
    overflow: auto;
    height: 86vh;
}

.vehicle-detail-table, .vehicle-detail-table th, .vehicle-detail-table td {
    border: 1px solid #ff6600;
    font-size: 18px;
    line-height: 30px;
}

.vehicle-detail-table {
    width: 80%;
    margin-top: 30px;
}

.vehicle-detail-table th, .vehicle-detail-table td {
    width: 50%;
    padding: 5px 5px 5px 5px;
}

.vehicle-detail-table th {
    text-align: center;
}

.vehicle-detail-table td {
    padding-left: 20px;
    vertical-align: text-top;
}

.vehicle-detail-table td form {
    padding-top: 20px;
}